<div class="container mt-4">
    <div class="card">
        <div class="card-body">
            <span class="h3">Lista de libros</span>
            <button class="btn btn-dark btn-lg float-end" routerLink="/create-libro">Agregar</button>
            <h5 *ngIf="libros.length==0" style="margin-top: 30px;">No hay datos para mostrar</h5>
            <table *ngIf="libros.length>0" class="table table-striped mt5">
                <thead>
                  <tr>
                    <th>Título</th>
                    <th>Autor</th>
                    <th>Fecha</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let libro of libros">
                    <th>{{ libro.titulo }}</th>
                    <td>{{ libro.autor }}</td>
                    <td>{{ libro.fecha }}</td>
                    <td>
                        <i class="fas fa-edit fa-lg text-info me-2" [routerLink]="['/edit-libro/', libro.id]"></i>
                        <i (click)="eliminarLibro(libro.id)" class="fas fa-trash-alt fa-lg text-danger"></i>
                    </td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>